name: cd ping

on:
  push:
    tags:
      - '*'

jobs:
  ping:
    permissions:
      contents: write
    strategy:
      matrix:
        repo:
          - toolbox
          - vulkan.zig
          - wayland.zig
          - X11.zig
          - glfw.zig
          - cimgui.zig
          - spirv.zig
          - glslang.zig
          - shaderc.zig
          - spaceporn-action-env
          - spaceporn-action-bot
          - spaceporn-action-ci
          - spaceporn-action-cd-pong
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        repository_name: "${{ github.event.repository.name }}"
        is_composite: 'true'
        user: "${{ matrix.repo }}"
        tag: "${{ github.ref_name }}"
        token: "${{ secrets.PAT }}"
    - uses: actions/checkout@v4
